{% extends 'back.base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="../../images/logos.svg" alt="logo">
              </div>
              <h4>Hello! Reset Your Password</h4>
              <h6 class="font-weight-light">Enter Your New Password.</h6>
              {% for danger in app.flashes('danger') %}
              <div class="alert alert-danger">
                  {{ danger }}
              </div>
              {% endfor %}

              <form action="{{ path('new_password') }}" method="post" novalidate>

                <div class="col-12">
                  <label for="newPassword" class="form-label">New Password</label>
                  <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                  <div class="invalid-feedback">Please enter a valid password!</div>
                </div>

                <div class="col-12">
                  <label for="confirmPassword" class="form-label">Confirm Password</label>
                  <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                  <div class="invalid-feedback">Passwords must match!</div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">Reset</button>
                </div>
                <div class="col-12">
                  <p class="small mb-0">Already have an account? <a href="{{ path('app_login') }}">Log in</a></p>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</body>
{% endblock %}
